<footer>
    <ul class="goldengreen2">
        <li>&copy; PICK-A-TRADE</li>
    
        <li><a href="/contactus">Contact US</a></li>
        <li><a href="/aboutus">About US</a></li>
    </ul>
</footer>
</body>