<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PICK-A-TRADE</title>
        <link rel="stylesheet" href=<%="/css/"+css%>>
    </head>
    <body>
        <header>
            <a href="/"><img id="mainlogo" src="/images/logo1.png" height ="70" width="350" alt="Logo of the image"></a>
            <nav id="nav1">
                <ul class="goldengreen1">
                    <li><a href="/trades/newTrade">Let's Start Trading</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">SignUp</a></li>
                </ul>

            </nav>
            <hr>
            <nav id="nav2">
                <a href="/trades">CARD TRADES</a>
            </nav>
        </header>
