<%-include('./partials/header.ejs')%>
        <main>
            <h1>About Us</h1>
            <p>PICK-A-TRADE  compliant Analytical Contract Research Organization located in Hyderabad , India . We are industry-leading global provider of laboratory testing services in Chemical and Microbiological segments across the pharmaceutical , Biotech , medical devices and packaging Industries .

                As a customer focused company , we are committed to provide quality services to meet the client requirements and are compliant with all relevant industry standards and regulations .
                
                We have a team of dedicated scientists working on various research projects outsourced by renowned organizations for their submissions to various regulatory bodies .
                
                Our state of the art analytical laboratory with built up area of 10,000 sq.ft . We use combinations of instruments, analytical techniques and methods to meet service needs .
                
                 
                
                OUR VISION
                
                To be seen as an Indian Organization with a global perspective that has created an integrated, quality driven, customer sensitive, Contract Research and testing center , that is the most comprehensive of it's kind across the globe . Integrity of service through honesty , responsibility and uncompromising commitment to quality and Customer service .
                
                 </p>
        </main>
<%-include('./partials/footer.ejs')%>
