<%-include('./partials/header.ejs')%>
        <main>
            <h1>YOU COULD CONTACT US AT:</h1>
            <p>Phone: +1 123-456-7890</p>
            <br>
            <p>E-Mail: qqqqqqqqqqq@uncc.edu</p>
            <br>
            <p>Address: 1234, Wall St, New York, 12345</p>
        </main>
<%-include('./partials/footer.ejs')%>
