<%-include('./partials/header.ejs')%>
    <main>
    
        <h3><%= error.status%></h3>
        <p><%= error.message%>
        <br>
        <a href="/">GO TO HOME PAGE!!!!!</a></p>


    
    </main>
    
<%-include('./partials/footer.ejs')%>