<%-include('./partials/header.ejs')%>
        <main>
            <h1>Welcome to PICK-A-TRADE!!!</h1>
            <p>One can find various collections of collectible cards here!</p>
            <p>Trade with some of the genuine collectors!!</p>
            <br>
            <ul class="mainimages">
                <li><img src="./images/charizard.jpg" height=200 width=200 alt="Charizard Image"></li>
                <li><img src="./images/wwe.jpg" height=200 width=200 alt="WWE Image"></li>
                <li><img src="./images/naruto.jpg" height=200 width=200 alt="Naruto Image"></li>
            </ul>
        </main>
<%-include('./partials/footer.ejs')%>
