*{
    text-decoration: none;
}
header{
    width: 100%;
    height: 135px;
    margin: 0;
    background-image: url("../images/t6.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#mainlogo{

    padding:10px;
}
header #nav1{
    float: right;
    margin-bottom: 40px;
    padding: 0;
    margin-right: 10px;

}
header #nav1 ul li{
    display: inline-block;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
header #nav2{
    
    padding-left:10px;

}
main{
    min-height: 5.5in;
    height: fit-content;
    width: 100%;
    margin: 0%;
    background-image: url("../images/t2.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    color:rgba(184,134,11,1);
    padding-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main #part1{
    height: 70%;
    float: left;
    padding: 20px;
    width: 50%;
    text-align: center;

}
main #subpart1{
    float:left;
    height: 70%;
    width: 40%;
    text-align: center;
}



main #part2{
    clear: both;
    text-align: center;
    position: static;
    bottom: 80px;
    left: 330px;

}
main #part2 .buttons{
    border-radius: 8px;
    font-size: 20px;
    background-color:rgba(241, 200, 94, 1);
    color: rgb(6, 26, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
main #part2 p{
    font-size: 20px;
}
footer{
    height: 50px;
    width: 100%;
    background-image: url("../images/t6.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
}
footer ul{
    text-align: center;
    color: black;
    padding:10px;
}
footer ul a{
    text-align: center;
    color: black;
    padding:10px;
}
footer ul li{
    display: inline;
    padding: 10px;
    margin-left: 0;
}
.goldengreen1 li a{
    color: rgb(6, 26, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#nav2 a{
    color: rgb(6, 26, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: fit-content;
}
